<div class="searchBar">
    <h2>Search Order</h2>
    <form action="/searchOrder" method="POST" id="searchOrders-form" class="my-form">
        <label for="orderIdInput" id="orderIdInput-label">
            Search order by Order ID:
        </label>
        <input type="text" name="orderIdInput" id="orderIdInput">
        <button type="submit" id="searchOrders-button">Search</button>
    </form>
</div>