{{!--

roomTypes: Please pass all roomTpyes when rendering this template.

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<h2>Welcome, powerful admin.</h2>
<div class="adminFunctions">    
    <ul>       
        <li>
            <div class="requests">
                <a href="/admin/requests">Requests</a>
            </div>
        </li>
        <li>
            <div class="accounts">
                <a href="/admin/accounts">Accounts</a>
            </div>
        </li>
        {{!-- <li>
            <div class="hotels">
                <a href="/admin/createHotel">Create a hotel</a>
            </div>
        </li> --}}
    </ul>

</div>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>