{{!--

roomTypes: Please pass all roomTpyes when rendering this template.

--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<h2>Welcome, powerful admin.</h2>
<div class="adminFunctions">    
    <ol>       
        <li>
            <div class="requests">
                <a href="/admin/requests">Requests</a>
            </div>
            <div class="accounts">
                <a href="/admin/accounts">Accounts</a>
            </div>
            <div class="hotels">
                <a href="/admin/createHotel">Create a hotel</a>
            </div>
            {{/if}}
        </li>
        
    </ol>

</div>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>