{{!--

login form handlebar template

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}

<p>Please log in your account.</p>
<form action="/user/login" method="POST" id="login-form" class="my-form">
    <div class="input">
        <label for="username" id="username">
            Username: <input type="text" name="username" id="username" class="userName">
        </label>
    </div>
    <div class="input">
        <label for="passwordInput" id="passwordInput-label">
            Password:<input type="password" name="passwordInput" id="passwordInput">
        </label>
    </div>
    <button type="submit" id="login-button">Login</button>
</form>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
<p>Don't have an account? <a href="/user/register">Click here to register!</a></p>