{{!--

login form handlebar template

--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}

<p>Please log in your account.</p>
<form action="/login" method="POST" id="login-form" class="new-form">
    <label for="username" id="username">  
        Username: 
    </label>
    <input type="username" name="username" id="username"></input>
    <label for="passwordInput" id="passwordInput-label">  
        Password:
    </label>
    <input type="password" name="passwordInput" id="passwordInput"></input>
    <button type="submit" id="login-button">Login</button>
</form>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
<p>Don't have an account? <a href="/register">Click here to register!</a></p>
