{{!--

Logout page. Should be accessible only by logged in users.

--}}

<div class="logout">
    <p>You have successfully logged out.</p>
    <a href="/">Click here to go back to the index page.</a>
</div>