{{!--

registration handelbars

--}}
{{!--
<script src="../public/js/lab10.js"></script> --}}
{{#if error}}
<div class="error">
    <p>Error code{{status_code}}: {{error}}</p>
</div>
{{/if}}

<p>Please register your account.</p>
<form action="/register" method="POST" id="registration-form" class="new-form">
    <label for="username" id="username-label">
        Username:
    </label>
    <input type="text" name="username" id="username"></input>

    <label for="firstNameInput" id="firstNameInput-label">
        First Name:
    </label>
    <input type="text" name="firstNameInput" id="firstNameInput"></input>
    <label for="lastNameInput" id="lastNameInput-label">
        Last Name:
    </label>
    <input type="text" name="lastNameInput" id="lastNameInput"></input>

    <label for="emailAddressInput" id="emailAddressInput-label">
        Email:
        <input type="email" name="emailAddressInput" id="emailAddressInput"></input>
    </label>

    <label>
        Phone:
        <input type="phone" name="phone" id="phone"></input>
    </label>

    <label for="passwordInput" id="passwordInput-label">
        Password:
        <input type="password" name="passwordInput" id="passwordInput"></input>
    </label>

    <label for="confirmPasswordInput" id="confirmPasswordInput-label">
        Confirm Password:
    </label>
    <input type="password" name="confirmPasswordInput" id="confirmPasswordInput"></input>

    <button type="submit" id="register-button">Register</button>
</form>
<p class="error" id="client">{{errorMessage}}

</p>
<a href="/login">Already have an account? Click here to log-in!</a>