<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account test</title>
</head>
<body>
    <h1> Account registration</h1>
    <form method='POST' id="account_form">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your name" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm your password" required>
        <button type="submit" id="submit">Submit</button>
    </form>
</body>
</html>