/* You will create a CSS stylesheet in /public/css/lab10.css; this file should have at least 10 rulesets.  You will need to utilize all 10 rulesets on each of the pages (not every page has to use all 10 rulesets each but all 10 rulesets must be utilized by the various pages in your application).  So you can have some rulesets for one page, some for another page but there needs to be at least 10 total rulesets that are used between all the pages.  */

/*
You will style your page using at least 5 CSS selectors for general CSS styling. You will place the CSS in its own file. 
*/

h1{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
    margin: 1em;
    padding: 1em;
}
.error{
    color: #FF0000;
    font-family: 'Georgia', serif;
    padding: 1rem;
    /* border: 1px solid #f5c6cb; */
    font-size: 20px;
    font-style: bold;
}

button{
    background-color: #000000;
    color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 1rem;
}

button.admin{
    background-color: #000000;
    color: green;
    font-family: 'georgia', serif;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 1rem;
    margin-left: 1rem;
}

#results{
    color: rebeccapurple;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: left;
}
input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#client p.client-error {
    font-weight: bold;
    color: red;
}

form.my-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.my-form input, .my-form label {
    margin-bottom: 1rem;
}

.display {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}   