/* You will create a CSS stylesheet in /public/css/lab10.css; this file should have at least 10 rulesets.  You will need to utilize all 10 rulesets on each of the pages (not every page has to use all 10 rulesets each but all 10 rulesets must be utilized by the various pages in your application).  So you can have some rulesets for one page, some for another page but there needs to be at least 10 total rulesets that are used between all the pages.  */

/*
You will style your page using at least 5 CSS selectors for general CSS styling. You will place the CSS in its own file. 
*/

h1 {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

h2 {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  /* text-decoration: underline; */
}

body {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  font-family: Arial, sans-serif;
  margin: 2.5em;
  padding: 1em;
}

body::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  /* You can adjust the opacity by changing the last value (0.5) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* main section */
section.content {
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;
}

@media (min-width: 1050px) {
  section.content {
    width: 1050px;
  }
}

@media (max-width: 1050px) {
  section.content {
    width: 100%;
  }
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: green;
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  z-index: 9999;
}

.nav {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0 10px;
}

.nav li a {
  display: block;
  padding: 10px;
  background-color: white;
  color: green;
  text-decoration: none;
  border-radius: 5px;
}

.nav li a:hover {
  background-color: green;
  color: white;
}

/* form */
form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  margin-top: 5%;
  margin-bottom: 5%;
}

input[type="text"],
input[type="file"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  /* max-width: 800px; */
  height: 40px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div > input[type="text"],
div > input[type="file"],
div > select {
  height: 100%;
}

input[type="text"].customize,
input[type="file"].customize,
select.customize {
  height: auto;
}

div.input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-top: 0.5em;
  margin-bottom:  0.5em;
}

label {
  flex: 1;
}

/* Set the maximum size for the div container directly containing an img element */
div > img {
  max-width: 100%;
  max-height: 100%;
  max-width: 400px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

img {  
  max-width: 400px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

.avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.homepage {
  position: absolute;
  top: 0;
  left: 20px;
  height: 100%;
}

.home-button {
  display: block;
  padding: 10px;
  background-color: white;
  color: green;
  text-decoration: none;
  border-radius: 5px;
}

.home-button:hover {
  background-color: darkgreen;
  color: white;
}

section.content {
  margin-top: 100px;
}

.logo {
  height: 100%;
  max-height: 100px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}


.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em 3em 4em;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}


.adminFunctions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.adminFunctions div {
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.adminFunctions div:hover {
  background-color: darkgreen;
  cursor: pointer;
}


.error {
  color: #FF0000;
  font-family: 'Georgia', serif;
  padding: 1rem;
  /* border: 1px solid #f5c6cb; */
  font-size: 20px;
  font-style: bold;
}

.adminFunctions div {
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.adminFunctions div:hover {
  background-color: darkgreen;
  cursor: pointer;
}


.error {
  color: #FF0000;
  font-family: 'Georgia', serif;
  padding: 1rem;
  /* border: 1px solid #f5c6cb; */
  font-size: 20px;
  font-style: bold;
}

button {
  background-color: #000000;
  color: goldenrod;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-style: bold;
  text-align: center;
  text-decoration: underline;
  margin-top: 1rem;
}

button.admin {
  background-color: #000000;
  color: green;
  font-family: 'georgia', serif;
  font-size: 25px;
  font-style: bold;
  text-align: center;
  text-decoration: underline;
  margin-top: 1rem;
  margin-left: 1rem;
}

#results {
  color: rebeccapurple;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  text-align: left;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#client p.client-error {
  font-weight: bold;
  color: red;
}

form.my-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

form.search-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.my-form input,
.my-form label {
  margin-bottom: 1rem;
}

.display {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.flash{
  color: red;
  font-weight: bold;
  font-size: large;
}

.userFirstName
{
  position: relative;
}

.userFirstName input
{
  position: relative;
  width: auto;
  height: 15px;
}

.userLastName
{
  position: relative;
}

.userLastName input
{
  position: relative;
  width: auto;
  height: 15px;
}

.avatar label
{
  width: auto;
  display: inline-block;
  text-align: right;
}
.avatar input
{
  display: inline-block;
  margin-bottom: 20px;
}
.userEmail
{
  margin-top: 20px;
}
.userEmail input
{
  position: relative;
  width: auto;
  height: 40px;
}
.userPhone
{
  position: relative;
  width: auto;
  height: 40px;
}
.userPhone label
{
  position: relative;
}
.userPhone input
{
  position: relative;
  width: auto;
  height: 40px;
}



.reviewItem {
  display: flex;
  align-items: stretch;
}

.reviewUser {
  flex: 0 0 30%; /* Width ratio 3:7 */
  max-width: 30%;
  position: relative;
}

.reviewUser img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.reviewUser p {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.reviewInfo {
  flex: 0 0 70%; 
  max-width: 70%;
  padding: 10px;
  box-sizing: border-box;
}
