{{!--

login form handlebar template

--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}

<p>Please log in your account.</p>
<form action="/login" method="POST" id="login-form" class="new-form">
    <label for="usernameInput" id="usernameInput-label">  
        Username: 
    </label>
    <input type="text" name="usernameInput" id="usernameInput">
    <label for="passwordInput" id="passwordInput-label">
        Password:
    </label>
    <input type="password" name="passwordInput" id="passwordInput">
    <button type="submit" id="login-button">Login</button>
</form>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
<a href="/register">Click here to register!</a>
