{{!--

If the user is logged in , and 'GET /protected' endpoint is called, you will render this view based on the specs.

--}}

<div class="display">
    <p>Welcome {{firstName}}, the time is now: {{currentTime}}. Your role in the system is: {{role}}.</p>
</div>
<button class="logout" onclick="window.location.href='/logout';">Logout</button>
{{#if admin}}
        <button class="admin-button" onclick="window.location.href='/admin';">Admin</button>
{{/if}}
