{{!--

Just copy the code from lab 10...

--}}

{{#if error}}
<div class="error">
    <p>Error code{{status_code}}: {{error}}</p>
</div>
{{/if}}

<p>Please register your account.</p>
<form action="/register" method="POST" id="registration-form" class="new-form">
    <label for="firstNameInput" id="firstNameInput-label">  
        First Name:
    </label>
    <input type="text" name="firstNameInput" id="firstNameInput">
    <label for="lastNameInput" id="lastNameInput-label">  
        Last Name: 
    </label>
    <input type="text" name="lastNameInput" id="lastNameInput">
    <label for="usernameInput" id="usernameInput-label">  
        Username: 
    </label>
    <input type="text" name="usernameInput" id="usernameInput">
    <label for="emailAddressInput" id="emailAddressInput-label">  
        Email: 
    </label>
    <input type="email" name="emailAddressInput" id="emailAddressInput">
    <label for="passwordInput" id="passwordInput-label">  
        Password:
    </label>
    <input type="password" name="passwordInput" id="passwordInput">
    <label for="confirmPasswordInput" id="confirmPasswordInput-label">  
        Confirm Password:
    </label>
    <input type="password" name="confirmPasswordInput" id="confirmPasswordInput">
    {{!-- For the select dropdown, you will have two options one that displays "Admin" with a value attribute of "admin" and one option that displays "User" with a value attribute of "user". --}}
    <label for="roleInput" id="roleInput-label">  
        Role:
    </label>

    <button type="submit" id="register-button">Register</button>
</form>
<div class="error" id="client">
    
</div>
<a href="/login">Already have an account? Click here to log-in!</a>