{{!--

login form handlebar template

--}}

{{#if error}}
<div class="error">
    <p>Error code {{status_code}}: {{error}}</p>
</div>
{{/if}}
<h2>Search Result</h2>
<div class="searchResult">
<ol>
    {{#each venues}}
    <div class="searchResultItem">
        <li>
            <a href="/venuedetails/{{id}}">{{name}}</a>
        </li>
    </div>
    {{/each}}
</ol>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
<a href="/register">Click here to register!</a>
